// App styles
//
// Copyright 2014 Joe Nudell

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin,latin-ext);

// palette
$white: #F7F7F0;
$red: rgb(255, 77, 66);
$accent: darken($red, 10%);
$yellow: adjust-hue($red, 45);
$brown: #A85B07;
$gold: #FFC000;
$black: #333333;
$tan: #FFE499;

// sizes
$radius: 5px;

// app styles
@import "main";
@import "tree";
